<html style="color: gray;">
<head>

   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href=""css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

</head>

<body>
  
<div class="container">
  <h1 style="text-align: center; color: darkred;" >Plagiarism Checker</h1>
  <h2 style="text-align: center; color: darkred;" >A Project By Group No. 7</h2>
  
  <div class="row">
      <div class="col s4">
          <!-- Promo Content 1 goes here -->
          <div class="center">
              <i class="large material-icons" style="color: #EE6E73">flash_on</i>
              <p>Fast Plagiarism checker</p>
              <p class="light center">Check plagiarism right here with a beautiful GUI.</p>
          </div>
      </div>

      <div class="col s4">
          <!-- Promo Content 2 goes here -->
          <div class="center">
              <i class="large material-icons" style="color: orange">camera</i>
              <p>Type or paste your searches</p>
              <p class="light center">With built in functionality of smart search.</p>
          </div>
      </div>

      <div class="col s4">
          <!-- Promo Content 3 goes here -->
          <div class="center">
              <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
              <p>An awesome front-end </p>
              <p class="light center">We built this with ❤️</p>
          </div>
      </div>
  </div>
      <title>Plagiarism Checker</title>
      
      <form action="http://localhost:5000" method="POST">
         <h3 style="color:darkred; text-align: center;"> Input Text </h3>
         <p><textarea name="query" rows="10" cols="70" placeholder=" Enter the Text to Check..."></textarea></p>
         <br>
         <p><button class="btn waves-effect waves-light" type="submit" name="submit" value="CHECK PLAGIARISM">CHECK PLAGIARISM
            <i class="material-icons right">send</i>
          </button>
         <br>
         
         <h2 style="color: brown;"> {{output}} </h2>

         
                    
          
      </form>
   </div>
   </body>
</html>
