<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
      <title>Plagiarism Checker</title>
     <h1>Deployment of Plagiarism Checker</h1>
      <h2>A Project By Group No.7</h2>
      <form action="http://localhost:5000" method="POST">
          <p> <h2>Input Text : </h2></p>
         <p><textarea name="query" rows="10" cols="70" autofocus>{Enter the Text to Check}</textarea></p>
         <br>
         <p><input type="submit" name="submit" value="CHECK PLAGIARISM"></p>
         <br>
         <p><h3>{{output}}</h3></p>
      </form>
   </body>
</html>